/*https://colordesigner.io/#616B75-01A797-F38828-F27127-DA4535*/

body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
    text-align: center;
    background-color: #22252b; 
    font-family: Sans-Serif;
}

.container {
    display: flex;
    flex-direction: column;
   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100px;
    padding-bottom: 10px;
    color: #FFFFFF;
    padding:0 40px;
    
}

.logo  {
    font-size: 24px;
    padding: 0;
    flex-shrink: 0;
    
}

.nav-links a {
    font-size: 18px;
}

.nav-links a:hover {
    color: orange;
}

.nav-links ul {
    display: flex;    
    
}

.nav-links li{
    padding: 0px 16px 0px 0px;
}

.main {
    color: #FFFFFF;
    display: flex;
    justify-content: center;    
    gap: 60px;
    padding: 30px;
    flex-wrap: wrap;
   
}

.main-text {
    width: 400px;
    flex-shrink: 0;
    text-align: justify;
}

.main-text a{
    text-decoration: underline;
}

.main-text a:hover{
    color: orange;
}

.main-img {
    width: 400px;    
}
.main-img img{
    border-radius: 5%;   
}

.projects {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: center;
    flex-grow: 1;
}

.project-boxes-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.project-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.project-box {   
    height: 100px;
    width: 100px;
    background-color: #4a515d;
    border: 2px solid #FFFFFF;
    border-radius: 5%;
}

.project-box:hover{
    background-color: orange;
}


.quotes{
    height: 300px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    padding: 0 30px
}

.quote-box{
max-width: 800px;
}
.quote-text {
    font-size: 36px;
    font-family: serif;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
 
    
}

.quote-author {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;   
    text-align: right;
    
}

.action {
    background-color: #FFFFFF;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action-box {
    background-color: #3882f6;
    width: 700px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.action-box-left{
    color: #FFFFFF;
    text-align: left;
    padding: 0 30px;
    
}
.action-header {
    margin: 0;
    padding: 0;
    
    
}

.action-box-right {
    padding-right: 30px;
    
}

.action-button {
    border: solid 1px white;
    border-radius: 10px;
    background-color: #3882f6;
    color: #FFFFFF;
    padding: 15px;
    width: 150px;
    font-weight: bold;
    font-size: large;
}

.action-button:hover {
    background-color: #FFFFFF;
    color: #3882f6;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    padding: 25px 0 25px 0;    
}

